
<h1>Exhibits</h1>



<form method="post" action="/current_exhibition/filter">

<label for="artist_filter">Filter Exhibits by Artist</label>
<select name="artist_filter">
<% for artist in @artists %>
<option value="<%=artist.id%>"><%=artist.join_name %></option><%end%>
</select>
<input type="submit" value="Filter Exhibits"/>
</form>
<br>
<br>
<br>
<% @exhibits.each do |exhibit| %>
<div class="exhibit">
<p><%= exhibit.title() %></p>
<p><%= exhibit.exhibit_information() %></p>
<p><%= exhibit.category() %></p>
<p><a href="/public_exhibits/<%= exhibit.id %>">View Exhibit</a></p>
<br>
<br>

<% end %>
</div>
