<p>Title: <%= @exhibit.title %></p>
<p>Information: <%= @exhibit.exhibit_information %></p>
<p>Category: <%= @exhibit.category %></p>
<p> <% @exhibit.id %></p>

<a href="/edit_exhibit/<%=@exhibit.id%>">Update Exhibit</a>
<a href="/exhibits/new">New Exhibit</a>
<br>
<br>
<form method="post" action="/view_exhibit/<%=@exhibit.id%>/delete">
  <input type="submit" value="Delete Exhibit"/>
  </form>
